<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="MailServer" value="pop.gmail.com" />
    <add key="UserName" value="crm.singh5@gmail.com" />
    <add key="Password" value="5singhcrm" />
    <add key="Port" value="995" />
    <add key="Encryption" value="True" />
    <add key="EmailAddr" value="crm.singh5@gmail.com" />
    <add key="Body" value="Your email was rejected as it did not meet criteria. Please call the helpdesk for assistance" />
    <add key="Subject" value="DO NOT REPLY - Email Rejected" />
    <add key="SMTPClient" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="crm.singh5@gmail.com" />
    <add key="SMTPPassword" value="5singhcrm" />
    <add key="SMTPSSL" value="true" />
    <add key="RefreshInterval" value="10" />
  </appSettings>
  <system.web>
    <sessionState timeout="480"></sessionState>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--Setup of SQL Membership provider and role provider-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login.aspx" timeout="30"/>
    </authentication>
    <!--Encrypt and decrypt user passwords -->
    <machineKey validationKey ="7574A58534F8D5BD4C937804E8C18099EB7FF05CFE6FAAB8507CEE44003426A55FF99DCBE77CE2B775A661FF7B5F76A6B9B2D6CE7ADC247E28666D024B89008B" decryptionKey="48B5F00334A7E1728F8E96E058A0D4A1CDC7ADAEC39C0D57" validation="SHA1" decryption="AES"  />
    <membership defaultProvider="CRMSqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="CRMSqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CRM" applicationName="CRMUI" enablePasswordReset="False" enablePasswordRetrieval="True" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Encrypted"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CRMRoleProvider">
      <providers>
        <clear/>
        <add name="CRMRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="CRM" applicationName="CRMUI"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </httpModules>
    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="CRMEntities" connectionString="metadata=res://*/CRM.csdl|res://*/CRM.ssdl|res://*/CRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=CRM;Persist Security Info=True;User ID=sa;Password=Server01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CRM" connectionString="Data Source=.\SQLExpress;Initial Catalog=CRM;Persist Security Info=True;User ID=sa;Password=Server01" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="ais.dut@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="ais.dut@gmail" password="aisgroup1" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.5.7"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0" newVersion="2.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>